.App {
  max-width: 737px;
  margin: 0 auto;
  padding: 0 1rem;
}

.dictionary {
  margin-top: 4.5rem;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 572px) {
  .App {
    padding: 0 2.4rem;
  }
}
